<?xml version="1.0" encoding="utf-8"?>
<Application>
  <RaumserverInstaller>
   
    <!-- Urls where to check and to download new version -->
    <binarySource type="windows">http://bassmaniacs.com/data/appBinaries/raumserverInstaller/currentVersion/raumserverInstaller_windows.zip</binarySource>
	<binarySource type="linux">http://bassmaniacs.com/data/appBinaries/raumserverInstaller/currentVersion/raumserverInstaller_linuxX64.zip</binarySource>
    <currentVersion>http://bassmaniacs.com/data/appBinaries/raumserverInstaller/currentVersion/version.xml</currentVersion>
	<currentServerVersion>http://bassmaniacs.com/data/appBinaries/raumserver/currentVersion/version.xml</currentServerVersion>
    
  </RaumserverInstaller> 
</Application>
