html {
            background: transparent;
            //background:white;
        }


             table {
                style-set: vgrid;
                width: *;
                height: *;
            }

            table th:nth-child(2) {
                width: 6em;
            }

            table th:nth-child(3) {
                width: 12em;
            }

            table th:nth-child(4) {
                width: *;
            }

            table th:nth-child(5) {
                width: 2em;
            }

            table th:nth-child(6) {
                width: 2em;
            }

            table th:nth-child(7) {
                width: 2em;
            }

            table th:last-child {
                width: 4em;
            }


               body {
                    border: 1px solid black;
                   background: #1585b5;
        }

            /*

     

        body {
            border: 1px solid black;
            background: #1585b5;        
            flow: vertical;
            font-size: 10pt;
            font-family: "Segoe UI", Tahoma, Helvetica, sans-serif;
            color: white;
            //transform: scale(1.0); 
            overflow: hidden; 
        }

        body.shown {
                transform: scale(1);
                transition: transform(linear,300ms);
            }

            body.hidden {
                transform: scale(0.1);
                transition: transform(linear,300ms);
            }
                */

            body > header {
                text-align: center;
                color: brown;
                margin-top: 36dip;
                font-weight: bold;
            }

            body > div.header {
                background: white;
                color: #808080;
            }

                body > div.header > div.left {
                    float: left;
                }

                body > div.header > div.right {
                    float: right;
                    width: 105px;
                }

                body > div.header > div.left > h1.caption {
                    margin: 10px;
                }

                body > div.header > div.right > div.closeIcon {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 24dip;
                    //background-image: url(svg/close.svg); 
                    background-image: url(png/close.png); 
                    fill: blue; 
                    float: left;
                    width: 50px;
                    height: 50px;
                }

                body > div.header > div.right > div.minimizeIcon {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 24dip;
                    //background-image: url(svg/close.svg); 
                    background-image: url(png/close.png); 
                    fill: blue; 
                    float: left;
                    width: 50px;
                    height: 50px;
                }

            body > div.header {               
                height: 15%;  
                overflow: hidden;                 
            }


            body > div.pages {
                color: #FFFFFF;               
                height: *;    
                overflow: hidden;               
            }


            body > div.footer {                            
                height: 10%;
                overflow: hidden;                   
            }


            body > div.pages > div.page {
                color: #FFFFFF;
                margin: 10px;
                height: 100%; 
                overflow: hidden;                  
            }

          


        div {
            border: 1px solid lightgray;
        }