/**
* Application main
*/
html {
    background: transparent;
}

body {
    background: white;
}

.appContainer {
    width: 100%%;
    height: 100%%;
    border: 1px solid black;
}


/**
* Application layout grid
*/
.appLayoutGrid {
    width: 100%;
    height: 100%;    
    flow: grid( 1  1,
                2  3); 
}

.appLayoutGrid > div { 
    width: *;
    height: *;      
}

.appLayoutGrid > div.header { 
    height: 110px;
    background: orange;     
}

.appLayoutGrid > div.header > div.left {
    float: left;    
    height: 100%;
    width: 90%;
    border: 1px solid black;
}

.appLayoutGrid > div.header > div.left > div.logo {
    float: left;   
    height: 100%;
    padding: 10px 20px 10px 20px;
     border: 1px solid yellow;
}

.appLayoutGrid > div.header > div.left > div.caption { 
    float: left;
    width: 100px;
    height: 100%;
    font-size: 32pt; 
    
    border: 1px solid black;
}

.appLayoutGrid > div.header > div.right {
    float: right;  
    height: 100% ;

    background: green;

}


.appLayoutGrid > div.leftsideboard { 
    width: 220px;
    background: lightgrey;     
}

.appLayoutGrid > div.pageContainer {
    background: white;
}

.appLogo {  
    display: block;
    max-width:230px;
    max-height:90px;
    width: auto;
    height: auto;   
}

